---
layout: default
lang: es
---

{% assign t = site.data[page.lang].services %}

<div class="page__intro  page--services">
    <div class="intro__wrapper">
        <div class="intro__content">
            <h1>{{ t.title }}</h1>
        </div>
    </div>
</div>

<div class="section  page--services">
    <div class="content">
        <div class="services__grid">
            <div class="services__row">
              {% for section in t.section %}
                <div class="services__column">
                    <i class="icon  {{ section.meta.icon }}"></i>
                    <h2>{{ section.title }}</h2>
                    <p>{{ section.desc }}</p>
                    {% for elem in section.list %}
                    <h3>{{ elem.title }}</h3>
                    <p>{{ elem.desc }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="section page--follow">
  <div class="content">
    <a href="#" class="btn--drop">{{ t.button }}</a>
  </div>
</div>

<div class="section__contact">
    <div class="content">
        <p>Si quieres saber qué podemos hacer por ti, contáctanos!</p>
        <a href="mailto:info@civica.digital"><i class="icon  icon-arrow-right"></i>info@civica.digital</a>
    </div>
</div>
