// FONDESO ICONS!
// This icon-font was made for Fondeso App.

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/**
 *MyIcon variables.
 */

$icon-css-prefix:       icon !default;
$icon-border-color:     #eee !default;
$icon-inverse:          #fff !default;
$icon-li-width:        (30em / 14) !default;


$icon-arrow-down: "\e600";
$icon-arrow-left: "\e601";
$icon-arrow-right: "\e602";
$icon-arrow-up: "\e603";
$icon-asterisk: "\e604";
$icon-book: "\e605";
$icon-check: "\e606";
$icon-chevron-down: "\e607";
$icon-chevron-left: "\e608";
$icon-chevron-right: "\e609";
$icon-chevron-up: "\e60a";
$icon-circle-o: "\e60b";
$icon-circle: "\e60c";
$icon-close: "\e60d";
$icon-code: "\e60e";
$icon-database: "\e60f";
$icon-door: "\e610";
$icon-gear: "\e611";
$icon-help: "\e612";
$icon-info: "\e613";
$icon-logo-civicadigital: "\e614";
$icon-logo-codeando: "\e615";
$icon-logo-datamx: "\e616";
$icon-medal: "\e617";
$icon-message: "\e618";
$icon-minus: "\e619";
$icon-more: "\e61a";
$icon-plus: "\e61b";
$icon-power: "\e61c";
$icon-print: "\e61d";
$icon-social-facebook: "\e61e";
$icon-social-github: "\e61f";
$icon-social-linkedin: "\e620";
$icon-social-twitter: "\e621";
$icon-trash: "\e622";
$icon-triangle-down: "\e623";
$icon-triangle-left: "\e624";
$icon-triangle-right: "\e625";
$icon-triangle-up: "\e626";
$icon-money: "\e627";
$icon-menu: "\e628";
$icon-pencil: "\e629";

