$flexgrid__padding: 20px;

.flexgrid__wrapper {
	width: 100%;
	border-collapse: collapse;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	/*.flexgrid__row %flexgrid__cols{
		padding: $flexgrid__padding;
	}*/
}
body .flexgrid__wrapper:first-child {
	margin: 0;
}
.flexgrid__row {
	clear: both;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	&:after{
		content:"";
		display:table;
		clear:both;
	}
}

%flexgrid__cols{
	font-size: 14px;
	float: left;
	width: 100%;
	border-collapse:collapse;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	word-break: break-word;
	margin: 0;
	margin-bottom: 24px;
	@include vendor(border-radius, 2px);
}


.flexgrid__no_padding,
.flexgrid__row.flexgrid__no_padding %flexgrid__cols{
	padding: 0 !important;
}

@media all and (min-width : 800px) {
	.flexgrid__wrapper {
		width: 100%;
		padding: 0;
		margin: 0;
		.flexgrid__row {
			padding: 0;
		}
	}
	.flexgrid__row {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		clear: both;
		margin: 0 auto;
		height: 100%;
		&:after{
			content:"";
			display:table;
			clear:both;
		}
	}
	%flexgrid__cols{
		margin: 0 2% 0 0;
		float: left;
		word-break: break-word;
		position: relative;
		
	}
	
	.flexgrid__col_1 { width: 6.5%; }
	.flexgrid__col_2 { width: 15%; }
	.flexgrid__col_3 { width: 23.5%; }
	.flexgrid__col_4 { width: 32%; }
	.flexgrid__col_5 { width: 40.5%; }
	.flexgrid__col_6 { width: 49%; }
	.flexgrid__col_7 { width: 57.5%; }
	.flexgrid__col_8 { width: 66%; }
	.flexgrid__col_9 { width: 74.5%; }
	.flexgrid__col_10 { width: 83%; }
	.flexgrid__col_11 { width: 91.5%; }
	.flexgrid__col_12 { width: 100%; margin: 0; }
	
	.flexgrid__last {
		margin: 0;
	}
}

.flexgrid__col_1, 
.flexgrid__col_2, 
.flexgrid__col_3, 
.flexgrid__col_4, 
.flexgrid__col_5, 
.flexgrid__col_6, 
.flexgrid__col_7, 
.flexgrid__col_8, 
.flexgrid__col_9, 
.flexgrid__col_10,
.flexgrid__col_11,
.flexgrid__col_12{
	@extend %flexgrid__cols;
}