/*------------------------------------*\
    MEDIA QUERY FOR SMARTPHONE
\*------------------------------------*/
/**
* Smartphone styles
*/

@media only screen and (max-width: $max-width) {
	.bar--top{
		height: 80px;
		.bar__logo{
			height: 80px;
		}
		.bar__menu{
			position: absolute;
			top: 80px;
			right: 0;
			left: 0;
			display: none;
		}
		.bar__btn{
			display: block;
		}
		.bar__nav{
			text-align: left;
			background-color: rgba(darken($color__branding,5), 0.9);
			color: $color__background;
			display: block;
			margin-top: 0;
			a{
				display: block;
				color: $color__background;
				margin-left: 0;
				padding: 0 24px;
				&.selected{
					border-bottom: none;
					font-weight: 600;
					color: $color__background;
					background-color: $color__branding;
				}
				&:last-child{
					padding-bottom: 6px;
				}
				&:hover{
					color: $color__background;
					background-color: $color__branding;
				}
			}

		}
		.bar__social{
			background-color: rgba(darken($color__branding,5), 0.9);
			border-bottom: 2px solid $color__background;
			line-height: 46px;
			padding: 0 24px;
			position: static;
			.icon{
				height: 28px;
				font-size: 28px;
				vertical-align: middle;
				display: inline-block;
				margin-left: 4px;
				color: rgba($color__background, 0.8);
				&:hover{
					color: $color__background;
				}
			}
			.bar__lang{
				color: $color__background;
				vertical-align: middle;
				display: inline-block;
				margin-left: 8px;
				font-size: 20px;
				span{
					font-size: 16px;
					margin: 0;
					cursor: pointer;
					padding: 0 4px;
					@include vendor(border-radius, 2px);
					&.selected{
						font-weight: 600;
						background-color: $color__background;
					}
					&:hover{
						//color: $color__branding;
						background-color: rgba($color__background, 0.8);
					}
				}
			}
		}
	}

	.footer{
		padding:  24px;
		a{
			display: inline-block;
			width: 33.3%;
			margin: 0;
			color: $color__background;
			height: 24px;
			//margin-top: 12px;
			&:hover{
				font-weight: 600;
			}
		}
		.footer__mail{
			height: auto;
			font-size: 16px;
			font-style: italic;
		}
		.footer__content{
			max-width: 1000px;
			margin: 0 auto;
			div{
				display: block;
				width: 100%;
				vertical-align: top;
				&:first-child{
					margin-bottom: 12px;
					width: 100%;
				}
				&:last-child{
					margin-top: 12px;
					width: 100%;
				}
			}
			h4{
				color: $color__background;
				height: auto;
				margin-bottom: 6px;
				font-size: 20px;
			}
		}
		.footer__icon-link{
			width: auto;
			padding-right: 24px;
			.icon{
				font-size: 24px;
				position: relative;
				top: 4px;
				margin-right: 2px;
			}
		}
	}

	.team__grid{
		.team__card__wrapper{
			width: 100%;
			margin-bottom: 24px;
		}
		.team__card{
			background-color: darken($color__gray--light,2);
			position: relative;
		}
		.card__img{
			padding: 12px 12px 0 12px;
			position: relative;
			&:hover{
				.card__social{
					background-color: transparent;
				}
			}
		}
		img{
			display: inline-block;
			width: 120px;
			@include vendor(border-radius, 60px);
		}
		.card__text{
			padding: 14px;
			h3{
				position: absolute;
				top: -115px;
				left: 160px;
			}
		}
		.card__social{
			color: $color__background;
			font-size: 32px;
			div{
				position: absolute;
				bottom: auto;
				right: auto;
				left: 160px;
				top: 64px;
			}
			.icon{
				width: 40px;
				text-align: left;
				color: $color__branding;
				&:hover{
					font-size: 34px;
				}
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.section.page--services .services__grid{
		.services__row{
			display: block;
		}
		div.services__column{
			width: 100%;
			float: none;
			clear: both;
			margin-bottom: 48px;
		}
	}
	.services__column{
		padding: 10px;
		img{
			display: block;
			margin: 0 auto 24px auto;
			width: 72px;
		}
		.icon{
			color: $color__branding;
			display: inline-block;
			font-size: 40px;
			vertical-align: top;
			margin-right: 6px;
		}
		h2{
			display: inline-block;
			font-size: 28px;
			line-height: 42px;
			vertical-align: top;
			position: relative;
			&:before{
				content: "";
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 10px;
				background-color: $color__branding;
				right: 100%;
				top: 14px;
				margin-right: 60px;
			}
		}
		p{
			margin-bottom: 24px;
		}
	}
}