<div class="footer">
  <div class="footer__content">
    <div>
      <h4>Cívica Digital 2015</h4><!--
      --><a class="footer__mail" href="mailto:hola@civica.digital">hola@civica.digital</a>
    </div><!--
    --><div>
    <a href="#">Productos</a><!--
    --><a href="#">Servicios</a><!--
  --><a href="equipo.html">Equipo</a>
</div><!--
--><div><!--
--><a href="carreras.html">Trabaja con nosotros</a><!--
--><a href="http://blog.civica.digital/" target="_blank">Blog</a>
  </div>
  <div>
    <a class="footer__icon-link" href="https://twitter.com/CivicaDigital" target="_blank"><i class="icon  icon-social-twitter"></i></a>
    <a class="footer__icon-link" href="https://github.com/civica-digital" target="_blank"><i class="icon  icon-social-github"></i></a>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/respond.js"></script>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ site.analytics }}']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
