<div class="footer">
  <div class="footer__content">
    <div>
      <h4>Cívica Digital 2014</h4><!--
      --><a class="footer__mail" href="mailto:info@civica.digital">info@civica.digital</a>
    </div><!--
    --><div>
    <a href="apps.html">Apps</a><!--
    --><a href="servicios.html">Servicios</a><!--
  --><a href="equipo.html">Equipo</a>
</div><!--
--><div>
<a href="empleos.html">Empleos</a><!--
--><a href="http://blog.codeandomexico.org/" target="_blank">Blog</a><!--
--><a href="index.html">Press Kit</a>
</div><!--
--><div>
<a class="footer__icon-link" href="http://codeandomexico.org" target="_blank"><i class="icon  icon-logo-codeando"></i>Codeando México</a><!--
--><a class="footer__icon-link" href="http://datamx.io" target="_blank"><i class="icon  icon-logo-datamx"></i>DataMX</a>
</div>
</div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/respond.js"></script>
