<div class="bar--top">
  {% if page.lang == "es" %}
  <a href="/"><img class="bar__logo" src="images/logo--black.svg" /></a>
  {% else %}
  <a href="/{{ page.lang }}"><img class="bar__logo" src="images/logo--black.svg" /></a>
  {% endif %}
  <div id="js-btn--menu" class="bar__btn"><i class="icon  icon-menu"></i></div>
  <div id="js-bar__menu" class="bar__menu">
    <div class="bar__social">
      <a href="https://twitter.com/CodeandoMexico" target="_blank"><i class="icon  icon-social-twitter"></i></a>
      <a href="https://github.com/CodeandoMexico" target="_blank"><i class="icon  icon-social-github"></i></a>
      <div class="bar__lang"><span>EN</span>|<span class="selected">ES</span></div>
    </div>
    <div class="bar__nav">
      <a href="index.html" id="btn--nav__home" {% if page.name == "index.html" %} class="selected" {% endif %}>Cívica Digital</a>
      <a href="apps.html" id="btn--nav__show" {% if page.name == "apps.html" %} class="selected" {% endif %}>Apps</a>
      <a href="servicios.html" id="btn--nav__serv" {% if page.name == "servicios.html" %} class="selected" {% endif %}>Servicios</a>
      <a href="equipo.html" id="btn--nav__team" {% if page.name == "equipo.html" %} class="selected" {% endif %}>Equipo</a>
    </div>
  </div>
</div>
