<div class="bar--top">
  {% if page.lang == "es" %}
  <a href="/"><img class="bar__logo" src="{{ basepath }}images/logo--black.png" /></a>
  {% else %}
  <a href="/{{ page.lang }}"><img class="bar__logo" src="{{ basepath }}images/logo--black.png" /></a>
  {% endif %}

  <div id="js-btn--menu" class="bar__btn"><i class="icon  icon-menu"></i></div>

  <div id="js-bar__menu" class="bar__menu">
    <div class="bar__nav">
      <a class="scroll-link" href="#intro">Inicio</a>
      <a class="scroll-link" href="#products">Productos</a>
      <a class="scroll-link" href="#services">Servicios</a>
      <a class="scroll-link" href="#team">Equipo</a>
      <a href="http://blog.civica.digital" target="_blank">Blog</a>
    </div>
  </div>
</div>
