/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       true;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$lap-start:         681px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;




/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */


$progress-dots: 6!default;

// max-width variable changes the maximum width of the container (except when the screen is that size or smaller of course)
$max-width: 680px;

$color__gray--light: #F8F8F8;
$color__gray--medium: #656568;
$color__gray--medium-dark: #4D4D4D;
$color__gray--dark: #333333;

$color__background: #FFFFFF;
$color__text: #011F26;
$color__branding: #f46c39;


$color__blue: #2153ad;
$color__green: #a8c900;
$color__yellow: #F7C829;
$color__orange: #f48222;
$color__red: #ed1c24;
$color__purple: #5952b2;

$intro__color--background: $color__branding;
$intro__color--content: $color__background;

$card__social--background: $color__gray--light;

$rect__border--color: #E6E6E6;
$rect__background--color: $color__gray--light;
