/*------------------------------------*\
    MAIN
\*------------------------------------*/
/**
* Main styling!
	<div.header>
		<img />
	</div>
	<div.page>
		<div.page__title></div>
		<div.page__content></div> (there may be more) than one, like in the login screen.
	</div>
	<ul.page__progress></ul> (This one only goes in the evaluation screens!)
	<div.footer></div>

*/

.bar--top{
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: rgba(255,255,255,0.95);
	z-index: 20;
	padding: 0 24px;
	text-align: right;
	.bar__logo{
		height: 100px;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		top: 0;
		left: 12px;
	}
	.bar__nav{
		line-height: 42px;
		display: inline-block;
		margin-top: 54px;
		font-size: 18px;
		@extend %title;
		span{
			display: inline-block;
			margin-left: 24px;
			&.selected{
				border-bottom: 4px solid $color__branding;
				font-weight: 500;
				color: $color__branding;
			}
		}
	}
	.bar__social{
		position: absolute;
		top: 18px;
		right: 24px;
		.icon-social{
			height: 28px;
			vertical-align: middle;
			display: inline-block;
			margin-left: 4px;
		}
		.bar__lang{
			vertical-align: middle;
			display: inline-block;
			margin-left: 8px;
			font-size: 20px;
			span{
				font-size: 16px;
				margin: 0 2px;
				&.selected{
					font-weight: 500;
					color: $color__branding;
				}
			}
		}
	}
}

.section__intro{
	width: 100%;
	height: 100%;
	background-image: url(../images/intro__bg.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	.intro__overlay{
		width: 100%;
		height: 100%;
		background: -webkit-linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.9)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9));
		position: absolute;
	}
	.intro__wrapper{
		width: 100%;
		height: 100%;
		display: table;
		text-align: center;
		position: absolute;
	}
	.intro__content{
		display: table-cell;
		vertical-align: middle;
		color: #ffffff;
		font-size: 36px;
	}
	.intro__logo{
		max-width: 360px;
	}
}

.section__showcase{
	padding: 48px;
	.showcase__content{
		max-width: 1000px;
		margin: 0 auto;
	}
	.showcase__grid{
		margin-left: -24px;
		.showcase__project{
			padding-left: 24px;
			display: inline-block;
			width: 33.33%;
			vertical-align: top;
		}
		.project__content{
			min-height: 200px;
			padding: 48px 12px;
			width: 100%;
			background-size: cover;
			background-position: center center;
			text-align: center;
			h2{
				color: $color__background;
			}
			&.project--data{
				background-image: url(../images/bg_showcase-data.jpg);
				h2{
					display: none;
				}
			}
			&.project--codeando{
				background-image: url(../images/bg_showcase-codeando.jpg);
				h2{
					display: none;
				}
			}
			&.project--more{
				background-image: url(../images/bg_showcase-otros.jpg);
			}
		}
	}
}