/*------------------------------------*\
    MAIN
\*------------------------------------*/
/**
* Main styling!
	<div.header>
		<img />
	</div>
	<div.page>
		<div.page__title></div>
		<div.page__content></div> (there may be more) than one, like in the login screen.
	</div>
	<ul.page__progress></ul> (This one only goes in the evaluation screens!)
	<div.footer></div>

*/

.bar--top{
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: rgba(255,255,255,0.95);
	z-index: 20;
	padding: 0 24px;
	text-align: right;
	.bar__logo{
		height: 100px;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		top: 0;
		left: 12px;
	}
	.bar__nav{
		line-height: 42px;
		display: inline-block;
		margin-top: 54px;
		font-size: 18px;
		@extend %title;
		a{
			display: inline-block;
			margin-left: 24px;
			color: #000000;
			&.selected{
				border-bottom: 4px solid $color__branding;
				font-weight: 500;
				color: $color__branding;
			}
			&:hover{
				color: $color__branding;
			}
		}
	}
	.bar__social{
		position: absolute;
		top: 18px;
		right: 24px;
		.icon-social{
			height: 28px;
			vertical-align: middle;
			display: inline-block;
			margin-left: 4px;
			&:hover{
				opacity: 0.6;
			}
		}
		.bar__lang{
			vertical-align: middle;
			display: inline-block;
			margin-left: 8px;
			font-size: 20px;
			span{
				font-size: 16px;
				margin: 0 2px;
				cursor: pointer;
				&.selected{
					font-weight: 500;
					color: $color__branding;
				}
				&:hover{
					color: $color__branding;
				}
			}
		}
	}
}

.section__intro{
	width: 100%;
	height: 100%;
	background-image: url(../images/intro__bg.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	.intro__overlay{
		width: 100%;
		height: 100%;
		background: -webkit-linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.9)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9));
		position: absolute;
	}
	.intro__wrapper{
		width: 100%;
		height: 100%;
		display: table;
		text-align: center;
		position: absolute;
	}
	.intro__content{
		display: table-cell;
		vertical-align: middle;
		color: #ffffff;
		font-size: 36px;
	}
	.intro__logo{
		max-width: 360px;
	}
}

.section__showcase{
	padding: 48px;
	border-bottom: 4px solid #cccccc;
	.showcase__content{
		max-width: 1000px;
		margin: 0 auto;
		&>p{
			margin-bottom: 48px;
		}
	}

	.showcase__grid{
		@extend .flexgrid__wrapper;
		.showcase__row{
			@extend .flexgrid__row;
		}
		.showcase__item{
			@extend .flexgrid__col_4;
			padding: 60px 24px;
			text-align: center;
			background-size: cover;
			background-position: center center;
			color: $color__background;
			h2{
				color: $color__background;
			}
			&:last-child{
				@extend .flexgrid__last;
			}
			&.project--data{
				background-image: url(../images/bg_showcase-data.jpg);
				h2{
					display: none;
				}
			}
			&.project--codeando{
				background-image: url(../images/bg_showcase-codeando.jpg);
				h2{
					display: none;
				}
			}
			&.project--more{
				background-image: url(../images/bg_showcase-otros.jpg);
			}
		}
	}
}

.section__services{
	padding: 48px;
	.services__content{
		max-width: 1000px;
		margin: 0 auto;
		&>p{
			margin-bottom: 48px;
		}
	}
	.services__grid{
		@extend .flexgrid__wrapper;
		.services__row{
			@extend .flexgrid__row;
		}
		.services__item{
			@extend .flexgrid__col_4;
			padding: 60px 24px;
			background-color: #ECECEC;
			text-align: center;
			&:last-child{
				@extend .flexgrid__last;
			}
		}
	}
}

.footer{
	background-color: #ECECEC;
	text-align: right;
	padding:  48px 24px;
	color: #444444;
	a{
		display: block;
		color: $color__branding;
		margin-top: 12px;
	}
	.footer__content{
		max-width: 1000px;
		margin: 0 auto;
	}
}


.section__page-intro{
	width: 100%;
	height: 420px;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
	background-image: url(../images/bg_intro-team.jpg);
	.intro__content{
		position: absolute;
		bottom: 0;
		background-color: rgba(0,181,0,0.8);
		left: 0;
		width: 100%;
		padding: 12px 48px;
		h1{
			max-width: 1000px;
			margin: 0 auto;
			color: #FFFFFF;
		}
	}
	&.page--projects{
		background-image: url(../images/bg_intro-projects.jpg);
	}
	&.page--services{
		background-image: url(../images/bg_intro-services.jpg);
	}
}

.section__team{
	padding: 48px;
	.team__content{
		max-width: 1000px;
		margin: 0 auto;
		&>p{
			margin-bottom: 48px;
		}
	}
}