// FONDESO ICONS!
// This icon-font was made for Fondeso App.

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/**
 *MyIcon variables.
 */

$icon-css-prefix:       icon !default;
$icon-border-color:     #eee !default;
$icon-inverse:          #fff !default;
$icon-li-width:        (30em / 14) !default;


$icon-arrow-down: "\e600";
$icon-arrow-left: "\e601";
$icon-arrow-right: "\e602";
$icon-arrow-up: "\e603";
$icon-asterisk: "\e604";
$icon-check: "\e605";
$icon-chevron-down: "\e606";
$icon-chevron-left: "\e607";
$icon-chevron-right: "\e608";
$icon-chevron-up: "\e609";
$icon-circle-o: "\e60a";
$icon-circle: "\e60b";
$icon-close: "\e60c";
$icon-info: "\e60d";
$icon-minus: "\e60e";
$icon-plus: "\e60f";
$icon-triangle: "\e610";
$icon-twitter: "\e611";
$icon-facebook: "\e612";
$icon-gear: "\e613";
$icon-print: "\e614";
$icon-power: "\e615";
$icon-trash: "\e616";
$icon-door: "\e617";
$icon-triangle-up: "\e618";


