---
layout: default
---
{% assign t = site.data[page.lang].team %}

{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}
  {% assign basepath = './' %}
{% elsif depth == 2 %}
  {% assign basepath = '../' %}
{% endif %}


<div class="page__intro">
    <div class="intro__wrapper">
        <div class="intro__content">
            <h1>{{ t.title }}</h1>
        </div>
    </div>
</div>

<div class="section__team">
    <div class="team__content">
        <p>{{ t.desc }}</p>
        <div class="team__grid">
          {% for member in t.members %}<!-- begin hack --><div class="team__card__wrapper">
                <div class="team__card">
                    <div class="card__img">
                        <img src="{{ basepath }}/{{ member.photo }}" />
                        <div class="card__social">
                            <div>
                              {% for sn in member.social %}
                                <a href="{{ sn.link }}" target="_blank"><i class="icon  icon-social-{{sn.name}}"></i></a>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card__text">
                        <h3>{{ member.name }}</h3>
                        <p>{{ member.desc }}</p>
                    </div>
                </div>
            </div><!-- end hack -->{% endfor %}
        </div>
    </div>
</div>
