---
layout: default
---


{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}
{% assign basepath = './' %}
{% elsif depth == 2 %}
{% assign basepath = '../' %}
{% endif %}

{% assign pagename = page.name | remove: '.html' %}
{% assign t = site.data[page.lang][pagename] %}

    <div class="index__intro intro-container">
        <div class="intro__overlay"></div>
        <div class="intro__wrapper">
            <div class="intro__content">
                <img class="intro__logo" src="{{ basepath }}{{ t.intro.img }}" />
                <!-- Photo credit to: https://unsplash.com/photos/45sjAjSjArQ -->
                <p>{{ t.intro.content }}</p>
                <a href="{{ t.btn.link }}" class="btn--drop">{{ t.btn.msg }}</a>
              </div>
        </div>
    </div>

    <div class="section__apps products-container" id="products">
        <div class="apps__content">
            <h1>{{ t.apps.title }}</h1>
            <p>{{ t.apps.content }}</p>
            <div class="app__grid">
                <div class="app__row">
                  {% for app in t.apps.list %}
                    <div class="app__item  {{ app.meta.class }}">
                        <i class="icon  {{ app.meta.icon }}"></i>
                        <h2>{{ app.title }}</h2>
                        <p>{{ app.desc }}</p>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="section__services services-container" id="services">
        <div class="services__content">
            <h1>{{ t.services.title }}</h1>
            <p>{{ t.services.desc }}</p>
            <div class="services__grid">
                <div class="services__row">
                  {% for service in t.services.list %}
                    <div class="services__item">
                        <i class="icon   {{ service.meta.icon }}"></i>
                        <h2>{{ service.title }}</h2>
                        <p>{{ service.desc }}</p>
                        <div>
                          {% for element in service.list %}
                          <h3>{{element.title}}</h3>
                          <p>{{element.desc}}</p>
                          {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="section__team team-container" id="team">
        <div class="team__content">
            <h1>{{ t.team.title }}</h1>
            <p>{{ t.team.desc }}</p>
            <div class="team__grid">
              {% for member in t.team.list %}<!-- begin hack --><div class="team__card__wrapper">
                    <div class="team__card">
                        <div class="card__img">
                            <img src="{{ basepath }}/{{ member.photo }}" />
                            <div class="card__social">
                                <div>
                                  {% for sn in member.social %}
                                    <a href="{{ sn.link }}" target="_blank"><i class="icon  icon-social-{{sn.name}}"></i></a>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card__text">
                            <h3>{{ member.name }}</h3>
                            <h4>{{ member.role }}</h4>
                            <p>{{ member.desc }}</p>
                        </div>
                    </div>
                </div><!-- end hack -->{% endfor %}
            </div>
        </div>
    </div>
